# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Django
db.sqlite3
*.log
*.pot
*.py[cod]
*.sqlite3
media/
staticfiles/
outputs/

# IDEs and system files
.vscode/
.idea/
.DS_Store

# PDFs and uploads (optional)
uploads/original.pdf
outputs/
